@import "./../../styles.scss";

section {
  @include dFlex($jc: space-between);
  background-color: $darkblue;
  border-top: 4px solid $green;
  height: 261px;
}

.footer-left {
  @include dFlex($ai: flex-start);
  margin-left: 100px;
  flex-direction: column;
  > span {
    > a {
      color: white;
      text-decoration: none;
    }
  }
}

.footer-middle {
  > span {
    color: white;
    font-size: 23px;
  }
}

.underline {
  width: 55.5px;
  border-bottom: 2px solid #1cdae6;
}

.footer-right {
  margin-right: 100px;
  @include dFlex();
  gap: 42px;
  > div {
    > a {
      > svg {
        &:hover {
          transform: scale(1.5);
          transition: all 150ms ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
}
