@import "./../../styles.scss";

h1 {
  font-size: 90px;
  color: white;
  margin-block-start: 0;
  margin-block-end: 0;
}

section {
  background-color: $darkblue;
  background-image: url(./../../assets/img/shape.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-wrapper {
  @include dFlex($jc: space-between);
  padding-top: 109px;
}

.hero-container {
  @include dFlex();
  height: 705px;
  position: relative;
}

.hero-image {
  @include dFlex($jc: flex-start);
  > img {
    @include dFlex();
    position: absolute;
    left: 47px;
  }
}

.hero-image-shadows {
  @include dFlex();
  > img {
    height: 705px;
  }
}

.hero-text-wrapper {
  display: flex;
}

.hero-iam {
  height: 172px;
  width: 10px;
  @include dFlex();
  gap: 16px;
  color: white;
  transform: rotate(90deg) matrix(-1, 0, 0, -1, 0, 0);
  font-size: 64px;
  > span {
    height: 172px;
  }
}

.hero-text-headline {
  height: 172px;
}

.button-container {
  > button {
    margin-top: 44px;
    width: 165px;
    height: 58px;
    border-radius: 10px;
    background-color: $green;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 23px;
    &:hover {
      transition: all 150ms ease-in-out;
      transform: scale(1.2);
      background-color: $purple;
    }
  }
}

.hero-text-container {
  @include dFlex();
  flex-direction: column;
  margin-right: 47px;
  > div {
    @include dFlex();
    flex-direction: column;
    > span {
      font-size: 70px;
      color: $purple;
      margin-top: -35px;
      text-transform: uppercase;
    }
  }
}

.contact-section {
  margin-top: 92px;
  @include dFlex($jc: flex-start);
}

.line {
  border: 4px solid $purple;
  width: 100px;
}

.icon-contact-container {
  margin-left: 42px;
  @include dFlex();
  gap: 42px;
  > div {
    > a {
      > svg {
        @include dFlex();
        cursor: pointer;
        &:hover {
          transition: all 150ms ease-in-out;
          transform: scale(1.5);
        }
      }
    }
  }
}

.mail-contact {
  @include dFlex();
  margin-left: 42px;
  font-size: 23px;
  > a {
    text-decoration: none;
    color: white;
  }
}

.scroll-down {
  @include dFlex($jc: flex-end);
  margin-right: 100px;
  > span {
    color: white;
    font-size: 23px;
    text-decoration: none;
    transform: rotate(90deg);
    > svg {
      transform: rotate(269deg);
    }
  }
}
