<section>
  <div class="hero-container">
    <div class="hero-image">
      <img src="./../../assets/img/hero character photo.png" alt="" />
      <div class="hero-image-shadows">
        <img src="./../../assets/img/photoshadows.png" alt="" />
      </div>
    </div>
  </div>
  <div class="hero-text-wrapper">
    <div class="hero-iam">
      <span>i</span>
      <span>am</span>
    </div>
    <div class="hero-text-container">
      <div>
        <h1>Christian Foerster</h1>
        <span>Frontend Developer</span>
      </div>
    </div>
  </div>
</section>
