@import "./../../styles.scss";

section {
  position: relative;
  overflow: hidden;
  background-color: $darkblue;
  width: 100%;
  gap: 149px;
  height: 100vh;
  @include dFlex($jc: space-between);
}

.about-me-left-wrapper {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  gap: 35px;
}

h1 {
  color: white;
  font-size: 90px;
}

.about-me-left {
  width: 471px;
  > span {
    color: white;
    font-size: 16px;
  }
}

.icon-about-me-text {
  margin-top: 35px;
  display: flex;
  gap: 26px;
  > span {
    color: white;
  }
  > div {
    > svg {
      height: 50px;
      width: 50px;
    }
  }
}

.bulb-icon {
  &:hover {
    transition: all 125ms ease-in-out;
    transform: scale(1.3);
  }
}

.puzzle-icon {
  &:hover {
    transition: all 125ms ease-in-out;
    transform: scale(1.4) translateY(15px);
  }
}

.about-me-right {
  width: 100%;
  z-index: 5;
  display: flex;
  > div {
    > img {
      width: 453px;
      border-radius: 100%;
      border: 4px solid $green;
    }
  }
}

.line {
  margin-top: 238px;
  height: 4px;
  background-color: $green;
  width: 100%;
}

.purple-shadow {
  position: absolute;
  z-index: 3;
  right: -100px;
  top: -37px;
  > img {
    height: 700px;
  }
}

@media screen and (max-width: 1433px) {
  h1 {
    font-size: 50px;
  }
}
