<app-navigation></app-navigation>
<h1>{{ "Privacy Policy" | translate }}</h1>

<section>
  <div class="wrapper">
    <h2>{{ "Introduction" | translate }}</h2>
    <br />

    <p>
      {{ "policy_1" | translate }}
    </p>
    <br />
    <p>{{ "gender" | translate }}</p>
    <p>{{ "state" | translate }}: <span>21.05.2024</span></p>
    <br />
    <h2 id="m3">{{ "person" | translate }}</h2>
    <br />
    <p>
      Christian, Förster<br />
      Holm, 15.<br />
      24937, Flensburg<br />
      Germany
      <br />
      <br />
    </p>
    <p>
      <strong>E-mail {{ "address" | translate }}:</strong>
      hello&#64;foerster-dev.de
    </p>
    <p>
      <strong>{{ "imprint" | translate }}:</strong>
      <a href="./imprint">{{ "imprint" | translate }}</a>
    </p>
    <br />
    <h2>{{ "policy_2" | translate }}</h2>
    <br />
    <p>
      {{ "policy_3" | translate }}
    </p>
    <br />
    <h2>{{ "extern" | translate }}</h2>
    <br />
    <p>
      {{ "policy_4" | translate }}
    </p>
    <ul>
      <br />
      <li><a href="https://www.linkedin.com/" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/" target="_blank">GitHub</a></li>
      <br />
    </ul>
    <br />
    <h2>{{ "rights" | translate }}</h2>
    <br />
    <p>
      {{ "policy_5" | translate }}
    </p>
    <br />
    <h2>{{ "change" | translate }}</h2>
    <br />
    <p>
      {{ "policy_6" | translate }}
    </p>
    <br />
    <p>{{ "policy_date" | translate }}: Mai 2024</p>
    <br />
  </div>
</section>
<app-footer></app-footer>
