<app-navigation></app-navigation>
<h1>Privacy Policy</h1>

<section>
  <h2>Introduction</h2>
  <p>
    With the following privacy policy, we would like to inform you about the
    types of your personal data (hereinafter also referred to as „data“ for
    short) that we process, for what purposes and to what extent. The privacy
    policy applies to all processing of personal data carried out by us, both in
    the context of providing our services and in particular on our websites,
    mobile, as well as within external online presences, such as our social
    media profiles (hereinafter collectively referred to as „Online Offer“).
  </p>
  <p>The terms used are not gender-specific.</p>
  <p>State: <span>21.05.2024</span></p>

  <h2 id="m3">Responsible person</h2>
  <p>
    Christian, Förster<br />
    Holm, 15.<br />
    24937, Flensburg<br />
    Germany
  </p>
  <p><strong>E-mail address:</strong> c.foerster&#64;tutanota.com</p>
  <p><strong>Imprint:</strong> <a href="./imprint">Imprint</a></p>
  <h3 id="m13">Relevant legal bases</h3>
  <p>
    In the following, we share the legal bases of the General Data Protection
    Regulation (GDPR) on the basis of which we process personal data. Please
    note that in addition to the regulations of the GDPR, the national data
    protection regulations in your or our country of residence and domicile may
    apply. Furthermore, should more specific legal bases be relevant in
    individual cases, we will inform you of these in the privacy policy.
  </p>
  <ul>
    <li>
      <strong>Consent (Art. 6 para. 1 p. 1 lit. a. GDPR)</strong> – The data
      subject has given his or her consent to the processing of personal data
      concerning him or her for one or more specific purposes.
    </li>
    <li>
      <strong
        >Contractual performance and pre-contractual requests (Art. 6 para. 1 p.
        1 lit. b. GDPR)</strong
      >
      – Processing is necessary for the performance of a contract to which the
      data subject is party or for the performance of pre-contractual measures
      carried out at the data subject’s request.
    </li>
    <li>
      <strong>Legal obligation (Art. 6 para. 1 p. 1 lit. c. GDPR)</strong> –
      Processing is necessary for compliance with a legal obligation to which
      the controller is subject.
    </li>
    <li>
      <strong>Rightful interests (Art. 6 para. 1 p. 1 lit. f. GDPR)</strong> –
      Processing is necessary for the purposes of protecting the legitimate
      interests of the controller or of a third party, except where such
      interests are overridden by the interests or fundamental rights and
      freedoms of the data subject which require the protection of personal
      data.
    </li>
  </ul>
  <h2 id="m27">Security measures</h2>
  <p>
    We take appropriate technical and organizational measures in accordance with
    the law, taking into account the state of the art, the costs of
    implementation and the nature, scope, circumstances and purposes of the
    processing, as well as the different probabilities of occurrence and the
    extent of the threat to the rights and freedoms of natural persons, in order
    to ensure a level of protection appropriate to the risk.
  </p>
  <p>
    The measures include, in particular, securing the confidentiality, integrity
    and availability of data by controlling physical and electronic access to
    the data as well as the access, input, transfer, ensuring availability and
    their separation. Furthermore, we have established procedures to ensure the
    exercise of data subjects‘ rights, the deletion of data, and responses to
    data compromise. Furthermore, we already take the protection of personal
    data into account during the development or selection of hardware, software
    as well as procedures in accordance with the principle of data protection,
    through technology design and through data protection-friendly default
    settings.
  </p>
  <p>
    <strong>SSL encryption (https)</strong>: To protect your data transmitted
    via our online offer, we use SSL encryption. You can recognize such
    encrypted connections by the prefix https:// in the address bar of your
    browser.
  </p>

  <h2 id="m25">Transmission and disclosure of personal data</h2>
  <p>
    In the course of our processing of personal data, it happens that the data
    are transmitted to or disclosed to other entities, companies, legally
    independent organizational units or persons. Recipients of this data may
    include, for example, payment institutions in the context of payment
    transactions, service providers commissioned with IT tasks or providers of
    services and content that are integrated into a website. In such cases, we
    comply with the legal requirements and, in particular, conclude appropriate
    contracts or agreements that serve to protect your data with the recipients
    of your data.
  </p>
  <h2 id="m24">Data processing in third countries</h2>
  <p>
    If we process data in a third country (i.e., outside the European Union
    (EU), the European Economic Area (EEA)) or the processing takes place in the
    context of the use of third-party services or the disclosure or transfer of
    data to other persons, entities or companies, this will only be done in
    accordance with the legal requirements.
  </p>
  <p>
    Subject to express consent or contractually or legally required transfer, we
    process or allow the data to be processed only in third countries with a
    recognized level of data protection, contractual obligation by so-called
    standard protection clauses of the EU Commission, in the presence of
    certifications or binding internal data protection regulations (Art. 44 to
    49 GDPR, information page of the EU Commission:
    <a
      href="https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection_de"
      >https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection_de</a
    >
    ).
  </p>
  <p>
    Within the framework of the so-called „Data Privacy Framework“ (DPF), the EU
    Commission has also recognized the level of data protection for certain
    companies from the USA as safe within the framework of the adequacy decision
    of July 10, 2023. The list of certified companies as well as further
    information on the DPF can be found on the website of the US Department of
    Commerce at
    <a href="https://www.dataprivacyframework.gov/"
      >https://www.dataprivacyframework.gov/</a
    >. We inform you in the context of the data protection information which
    service providers we use are certified under the Data Privacy Framework.
  </p>

  <ul class="m-elements">
    <li>
      <strong>Types of data processed:</strong> Inventory data (e.g. names,
      addresses), payment data (e.g. bank details, invoices, payment history),
      contact data (e.g. e-mail, telephone numbers), contract data (e.g. subject
      matter of contract, term, customer category), usage data (e.g. websites
      visited, interest in content, access times), meta/communication data (e.g.
      device information, IP addresses).
    </li>
    <li>
      <strong>People concerned:</strong> Interested parties, business and
      contractual partners, customers.
    </li>
    <li>
      <strong>Purposes of processing:</strong> Providing contractual services
      and customer service, contact requests and communications, office and
      organizational procedures, managing and responding to requests, security
      measures, visit action evaluation, interest-based and behavioral
      marketing, profiling (creating user profiles).
    </li>
    <li>
      <strong>Legal basis:</strong> Contract performance and pre-contractual
      requests (Art. 6 para 1 p. 1 lit. b. GDPR), Legal obligation (Art. 6 para
      1 p. 1 lit. c. GDPR), Legitimate interests (Art. 6 para 1 p. 1 lit. f.
      GDPR).
    </li>
  </ul>

  <h2 id="m182">Contact</h2>
  <p>
    When contacting us (for example, by contact form, e-mail, telephone or via
    social media), the information of the requesting persons is processed to the
    extent necessary to respond to the contact requests and any requested
    action.
  </p>
  <p>
    The response to the contact requests in the context of contractual or
    pre-contractual relationships is carried out to fulfill our contractual
    obligations or to respond to (pre)contractual requests and otherwise on the
    basis of legitimate interests in responding to the requests.
  </p>
  <ul class="m-elements">
    <li>
      <strong>Types of data processed:</strong> Inventory data (e.g. names,
      addresses), contact data (e.g. e-mail, telephone numbers), content data
      (e.g. entries in online forms), usage data (e.g. websites visited,
      interest in content, access times), meta/communication data (e.g. device
      information, IP addresses).
    </li>
    <li>
      <strong>People concerned:</strong> communication partners, interested
      parties.
    </li>
    <li>
      <strong>Purposes of processing:</strong> contact requests and
      communication, management and response to requests.
    </li>
    <li>
      <strong>Legal basis:</strong> Contract performance and pre-contractual
      requests (Art. 6 para 1 p. 1 lit. b. GDPR), Legitimate interests (Art. 6
      para 1 p. 1 lit. f. GDPR).
    </li>
  </ul>

  <h2 id="m136">Presence on social networks (social media)</h2>
  <p>
    We maintain online presences within social networks and process user data in
    this context in order to communicate with users active there or to offer
    information about us.
  </p>
  <p>
    We would like to point out that user data may be processed outside the
    European Union. This may result in risks for the users because, for example,
    it could make it more difficult to enforce the rights of the users.
  </p>
  <p>
    Furthermore, user data is usually processed within social networks for
    market research and advertising purposes. For example, usage profiles can be
    created based on the usage behavior and resulting interests of the users.
    The usage profiles can in turn be used, for example, to place advertisements
    within and outside the networks that presumably correspond to the interests
    of the users. For these purposes, cookies are usually stored on the users‘
    computers, in which the usage behavior and interests of the users are
    stored. Furthermore, data independent of the devices used by the users may
    also be stored in the usage profiles (especially if the users are members of
    the respective platforms and are logged in to them).
  </p>
  <p>
    For a detailed presentation of the respective forms of processing and the
    options to object (opt-out), we refer to the privacy statements and
    information provided by the operators of the respective networks.
  </p>
  <p>
    In the case of requests for information and the assertion of data subject
    rights, we also point out that these can be asserted most effectively with
    the providers. Only the providers have access to the users‘ data and can
    take appropriate measures and provide information directly. If you still
    need help, then you can contact us.
  </p>
  <ul class="m-elements">
    <li>
      <strong>Types of data processed:</strong> Inventory data (e.g. names,
      addresses), contact data (e.g. e-mail, telephone numbers), content data
      (e.g. entries in online forms), usage data (e.g. websites visited,
      interest in content, access times), meta/communication data (e.g. device
      information, IP addresses).
    </li>
    <li>
      <strong>People Concerned:</strong> users (e.g., website visitors, users of
      online services).
    </li>
    <li>
      <strong>Purposes of processing:</strong> contact requests and
      communication, tracking (e.g. interest/behavioral profiling, use of
      cookies), remarketing, reach measurement (e.g. access statistics,
      recognition of returning visitors).
    </li>
    <li>
      <strong>Legal basis:</strong> Legitimate interests (Art. 6 para. 1 p. 1
      lit. f. GDPR).
    </li>
  </ul>
  <p><strong>Services used and service providers:</strong></p>
  <ul class="m-elements">
    <li>
      <strong>LinkedIn: </strong>Social network; Service provider: LinkedIn
      Ireland Unlimited Company, Wilton Place, Dublin 2, Ireland; Website:
      <a href="https://www.linkedin.com/" target="_blank" rel="noopener"
        >https://www.linkedin.com</a
      >; privacy policy:
      <a
        href="https://www.linkedin.com/legal/privacy-policy"
        target="_blank"
        rel="noopener"
        >https://www.linkedin.com/legal/privacy-policy</a
      >; Basis third country transfer: standard contractual clauses (<a
        href="https://legal.linkedin.com/dpa"
        target="_blank"
        rel="noopener"
        >https://legal.linkedin.com/dpa</a
      >). Opt-out:
      <a
        href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out"
        target="_blank"
        rel="noopener"
        >https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out</a
      >; Order processing contract:
      <a href="https://legal.linkedin.com/dpa" target="_blank" rel="noopener"
        >https://legal.linkedin.com/dpa</a
      >.
    </li>
    <li>
      <h2 id="m12">Deletion of data</h2>
      <p>
        The data processed by us will be deleted in accordance with legal
        requirements as soon as their consents permitted for processing are
        revoked or other permissions cease to apply (for example, if the purpose
        of processing this data has ceased to apply or it is not necessary for
        the purpose).
      </p>
      <p>
        If the data are not deleted because they are required for other and
        legally permissible purposes, their processing will be limited to these
        purposes. I.e., the data is blocked and not processed for other
        purposes. This applies, for example, to data that must be retained for
        reasons of commercial or tax law or whose storage is necessary for the
        assertion, exercise or defense of legal claims or for the protection of
        the rights of another natural or legal person.
      </p>
      <p>
        Further information on the deletion of personal data can further be
        provided in the context of the individual data protection notices of
        this privacy policy.
      </p>
      <h2 id="m15">Change and update privacy policy</h2>
      <p>
        We ask you to regularly inform yourself about the content of our privacy
        policy. We will adapt the privacy statement as soon as the changes in
        the data processing activities we carry out make this necessary. We will
        inform you as soon as the changes require an act of cooperation on your
        part (e.g. consent) or other individual notification.
      </p>
      <p>
        If we provide addresses and contact information of companies and
        organizations in this privacy statement, please note that the addresses
        may change over time and please check the information before contacting
        us.
      </p>
      <h2 id="m10">Rights of the persons concerned</h2>
      <p>
        As a data subject, you are entitled to various rights under the GDPR,
        arising in particular from Articles 15 to 21 of the GDPR:
      </p>
      <ul>
        <li>
          <strong>Right of objection:</strong> you have the right to object at
          any time, on grounds relating to your particular situation, to the
          processing of personal data concerning you which is carried out on the
          basis of Article 6(1)(e) or (f) of the GDPR; this also applies to
          profiling based on these provisions. If the personal data concerning
          you is processed for the purpose of direct marketing, you have the
          right to object at any time to the processing of personal data
          concerning you for the purpose of such marketing; this also applies to
          profiling, insofar as it is related to such direct marketing.
        </li>
        <li>
          <strong>Right of revocation for consents:</strong> You have the right
          to revoke granted consents at any time.
        </li>
        <li>
          <strong>Right of access:</strong> You have the right to request
          confirmation as to whether data in question is being processed and to
          information about this data, as well as further information and a copy
          of the data in accordance with legal requirements.
        </li>
        <li>
          <strong>Right to rectification:</strong> You have the right, in
          accordance with the law, to request that the data concerning you be
          completed or that inaccurate data concerning you be rectified.
        </li>
        <li>
          <strong>Right to erasure and restriction of processing:</strong> You
          have, in accordance with the law, the right to request that data
          concerning you be erased without undue delay, or alternatively, in
          accordance with the law, to request restriction of the processing of
          the data.
        </li>
        <li>
          <strong>Right to data portability:</strong> You have the right to
          receive data relating to you, which you have provided to us, in a
          structured, common and machine-readable format in accordance with the
          legal requirements, or to demand its transfer to another responsible
          party.
        </li>
        <li>
          <strong>Complaint to supervisory authority:</strong> You also have the
          right, in accordance with the law, to lodge a complaint with a
          supervisory authority, in particular in the Member State of your
          habitual residence, your place of work or the place of the alleged
          infringement, if you consider that the processing of personal data
          relating to you infringes the GDPR.
        </li>
      </ul>
      <h2 id="m42">Definitions of terms</h2>
      <p>
        This section provides you with an overview of the terms used in this
        Privacy Policy. Many of the terms are taken from the law and defined
        primarily in Article 4 of the GDPR. The legal definitions are binding.
        The following explanations, on the other hand, are primarily intended to
        aid understanding. The terms are sorted alphabetically.
      </p>
      <ul class="glossary">
        <li>
          <strong>Visit action evaluation:</strong> „Visit action evaluation“
          (English „conversion tracking“) refers to a procedure with which the
          effectiveness of marketing measures can be determined. For this
          purpose, a cookie is usually stored on the users‘ devices within the
          websites on which the marketing measures take place and then retrieved
          again on the target website. For example, this allows us to track
          whether the ads we have placed on other websites have been
          successful).
        </li>
        <li>
          <strong>Credit information:</strong> Automated decisions are based on
          automatic data processing without human intervention (for example, in
          the case of an automatic rejection of a purchase on account, an online
          credit application or an online application process without any human
          intervention. Such automated decisions are only allowed under Art. 22
          GDPR if data subjects consent, if they are necessary for the
          performance of a contract, or if national laws allow such decisions.
        </li>
        <li>
          <strong>Cross-device tracking:</strong> Cross-device tracking is a
          form of tracking in which users‘ behavioral and interest information
          is collected across devices in so-called profiles by assigning users
          to an online identifier. This allows user information to be analyzed
          for marketing purposes, irrespective of the browsers or devices used
          (e.g. cell phones or desktop computers). For most providers, the
          online identifier is not linked to clear data, such as names, postal
          addresses or e-mail addresses.
        </li>
        <li>
          <strong>IP masking:</strong> „IP masking“ is a method in which the
          last octet, i.e., the last two numbers of an IP address, is deleted so
          that the IP address can no longer be used to uniquely identify a
          person. Therefore, IP masking is a means of pseudonymizing processing
          methods, especially in online marketing
        </li>
        <li>
          <strong>Interest-based and behavioral marketing:</strong> We speak of
          interest-based and/or behavioral marketing when potential interests of
          users in ads and other content are predetermined as precisely as
          possible. This is done on the basis of information about their
          previous behavior (eg visiting certain websites and stay on them,
          buying behavior or interaction with other users), which are stored in
          a so-called profile. Cookies are usually used for these purposes.
        </li>
        <li>
          <strong>Conversion measurement:</strong> Conversion measurement is a
          procedure with which the effectiveness of marketing measures can be
          determined. For this purpose, a cookie is usually stored on the users‘
          devices within the websites on which the marketing measures take place
          and then retrieved again on the target website. For example, this
          allows us to track whether the ads we have placed on other websites
          have been successful.
        </li>
        <li>
          <strong>Personal data:</strong> „Personal data“ means any information
          relating to an identified or identifiable natural person (hereinafter
          „data subject“); an identifiable natural person is one who can be
          identified, directly or indirectly, in particular by reference to an
          identifier such as a name, an identification number, location data, an
          online identifier (eg. e.g. cookie) or to one or more particular
          characteristics that are an expression of that natural person’s
          physical, physiological, genetic, mental, economic, cultural or social
          identity.
        </li>
        <li>
          <strong>Profiling:</strong> „Profiling“ is any form of automated
          processing of personal data that consists of using such personal data
          to analyze, evaluate or, in order to predict (e.g., the interests in
          certain content or the use of certain services), certain personal
          aspects relating to a natural person (depending on the type of
          profiling, this may include information concerning age, gender,
          location data and movement data, interaction with websites and their
          content, shopping behavior, social interactions with other people).
          e.g. interests in certain content or products, click behavior on a
          website or location). Cookies and web beacons are often used for
          profiling purposes.
        </li>
        <li>
          <strong>Range measurement:</strong> Range measurement (also known as
          web analytics) is used to evaluate the flow of visitors to an online
          offering and may include the behavior or interests of visitors in
          certain information, such as content of web pages. With the help of
          reach analysis, website owners can see, for example, at what time
          visitors visit their website and what content they are interested in.
          This enables them, for example, to better adapt the content of the
          website to the needs of their visitors. For the purposes of reach
          analysis, pseudonymous cookies and web beacons are often used to
          recognize returning visitors and thus obtain more precise analyses of
          the use of an online offering.
        </li>
        <li>
          <strong>Remarketing:</strong> One speaks of „remarketing“ or
          „retargeting“ when, for example, for advertising purposes, it is noted
          which products a user has been interested in on a website, in order to
          remind the user of these products on other websites, e.g. in
          advertisements.
        </li>
        <li>
          <strong>Location data:</strong> Location data is created when a mobile
          device (or other device with the technical requirements of a location
          determination) connects to a radio cell, a WLAN or similar technical
          mediators and functions of location determination. Location data is
          used to indicate the geographically determinable position on earth at
          which the respective device is located. Location data can be used, for
          example, to display map functions or other information dependent on a
          location.
        </li>
        <li>
          <strong>Tracking:</strong> One speaks of „tracking“ when the behavior
          of users can be traced across several online offers. As a rule, with
          regard to the online offers used, behavioral and interest information
          is stored in cookies or on servers of the providers of the tracking
          technologies (so-called profiling). This information can subsequently
          be used, for example, to display advertisements to users that are
          likely to correspond to their interests.
        </li>
        <li>
          <strong>Controller:</strong> A „controller“ is the natural or legal
          person, public authority, agency or other body which alone or jointly
          with others determines the purposes and means of the processing of
          personal data.
        </li>
        <li>
          <strong>Processing:</strong> „Processing“ means any operation or set
          of operations which is performed upon personal data, whether or not by
          automatic means. The term is broad and includes virtually any handling
          of data, be it collection, analysis, storage, transmission or
          deletion.
        </li>
        <li>
          <strong>Target group formation:</strong> One speaks of target group
          formation (or „Custom Audiences“) when target groups are determined
          for advertising purposes, e.g. insertion of advertisements. For
          example, based on the interest of a user in certain products or topics
          on the Internet, it can be concluded that this user is interested in
          advertisements for similar products or the online store in which he
          viewed the products. In turn, we speak of „lookalike audiences“ (or
          similar target groups) when the content deemed suitable is displayed
          to users whose profiles or interests presumably correspond to the
          users for whom the profiles were formed. For purposes of the formation
          of Custom Audiences and Lookalike Audiences are usually used cookies
          and web beacons.
        </li>
      </ul>
    </li>
  </ul>
</section>
<app-footer></app-footer>
