@import "./../../../styles.scss";

.headline {
  display: flex;
}

.line {
  border: 4px solid $purple;
  width: 50px;
}

.header {
  @include dFlex($jc: flex-start);
  gap: 50px;
  margin-bottom: 60px;
}

section {
  background-color: $darkblue;
  position: relative;
  overflow: hidden;
  height: 100vh;
  @include dFlex($ai: flex-start);
  flex-direction: column;
}

h1 {
  font-size: 90px;
  color: white;
}

.info-box {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  width: 473px;
  > span {
    color: white;
    margin-bottom: 25px;
  }
}

.sub-head {
  color: white;
  font-size: 32px;
  margin-bottom: 35px;
  font-weight: 700;
}

.wrapper {
  @include dFlex($jc: space-between, $ai: flex-start);
  width: 100%;
}

.form-container {
  max-width: 617px;
  padding-right: 100px;
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error {
  border-color: #e61c40 !important;
  color: #e61c40 !important;

  &:focus {
    outline: #e61c40 !important;
  }
}

.allok {
  border-color: $green !important;
  &:focus {
    outline: $green !important;
  }
}

.alert-icon {
  position: absolute;
  top: 15px;
  right: -25.5px;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  height: 18px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
  > input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:hover ~ .checkmark {
      background-color: rgba(255, 255, 255, 0.24);
    }
    &:checked ~ .checkmark {
      background-image: url(/assets/img/checkedicongreen.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      display: block;
    }
  }
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 3px solid $green;
  border-radius: 4px;
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

.checkbox-text {
  > span {
    font-size: 14px;
    color: white;
    > a {
      font-size: 14px;
      color: $purple;
      text-decoration: none;
    }
  }
}

.checkbox-container {
  @include dFlex();
  gap: 8px;
  > span {
    color: white;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;

  > div {
    > input {
      border: 1px solid $purple;
      padding: 15px 25px;
      border-radius: 10px;
      background-color: transparent;
      color: white;
      font-size: 16px;
      font-weight: 400;
      &::placeholder {
        color: white;
      }
      &:hover {
        border: 1px solid $green;
      }
      &:focus {
        outline: $green;
      }
    }
    > textarea {
      color: white;
      background-color: transparent;
      border: 1px solid $purple;
      padding: 15px 25px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 400;
      &::placeholder {
        color: white;
      }
      &:hover {
        border: 1px solid $green;
      }
      &:focus {
        outline: $green;
      }
    }
  }
  > button {
    cursor: pointer;
    @include dFlex();
    width: 253px;
    height: 58px;
    border-radius: 10px;
    font-size: 23px;
    margin-top: 25px;
  }
}

.button-click-trigger {
  position: absolute;
  width: 253px;
  height: 58px;
}

.icon-container {
  width: 100%;
  @include dFlex($jc: flex-end);
  > div {
    padding-right: 100px;

    > a {
      > svg {
        &:hover {
          > path {
            fill: $green;
          }
          > rect {
            stroke: $green;
          }
        }
      }
    }
  }
}

.purple-shadow {
  > img {
    position: absolute;
    top: 597px;
    left: -407px;
    transform: rotate(254deg);
  }
}
