<section>
  <div class="portfolio-project-one">
    <div>
      <img src="./../../assets/img/join photo.png" alt="" />
    </div>
    <div class="project-text">
      <div class="description">
        <span class="head">Join</span>
        <span class="subtitle"
          >Angular | TypeScript | HTML | CSS | Firebase
        </span>
        <span class="text"
          >Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.
        </span>
        <div class="button-container">
          <button class="first-button">Live test</button>
          <button class="second-button">Github</button>
        </div>
      </div>
    </div>
  </div>
</section>
