@import "./../../../styles.scss";

section {
  @include dFlex();
  height: 500px;
  padding-bottom: 150px;
  position: relative;
  z-index: 5;
}

.wrapper {
  position: relative;
  background-color: $darkblue;
  overflow-x: hidden;
}

.purple-shadow {
  > img {
    position: absolute;
    top: 1113px;
    left: -125px;
    transform: rotate(45deg);
    width: 500px;
  }
}

.green-shadow {
  > img {
    position: absolute;
    position: absolute;
    width: 603px;
    height: 691px;
    top: 1790px;
    right: 67px;
    transform: rotate(189deg);
  }
}

a {
  text-decoration: none;
}

.project-text {
  @include dFlex($jc: flex-start);
  flex-direction: column;
  width: 513px;
}

.description {
  display: flex;
  flex-direction: column;
  > span {
    @include dFlex($jc: flex-start);
  }
}

.head {
  color: $purple;
  font-weight: 700;
  font-size: 32px;
}

.subtitle {
  color: $green;
}

.text {
  color: white;
}

.button-container {
  margin-top: 35px;
  @include dFlex($jc: flex-start);
  width: 375px;
  gap: 86px;
}

.first-button {
  @include dFlex();
  border: none;
  background-color: $purple;
  color: white;
  border-radius: 10px;
  font-size: 23px;
  font-weight: 400;
  width: 152px;
  height: 58px;
  cursor: pointer;
  &:hover {
    background-color: $green;
    transition: all 125ms ease-in-out;
  }
}

.second-button {
  @include dFlex();
  cursor: pointer;
  color: white;
  background-color: transparent;
  width: 137px;
  height: 58px;
  border: 1px solid $green;
  border-radius: 10px;
  font-size: 23px;
  font-weight: 400;
  &:hover {
    background-color: $green;
    transition: all 125ms ease-in-out;
  }
}

@media only screen and (max-width: 1024px) {
  section {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .wrapper {
    @include dFlex();
    width: 100%;
    flex-direction: column;
    row-gap: 80px;
  }

  section {
    height: auto;
    width: 100%;
    padding-bottom: 0;
    flex-direction: column !important;
    > div {
      width: 100%;
      flex-direction: column;
      > img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .project-text {
    @include dFlex();
    width: 100%;
  }

  .description {
    width: 100%;
    > span {
      @include dFlex();
      padding-left: 25px;
      padding-right: 25px;
      text-align: center;
    }
  }

  .purple-shadow {
    overflow-x: hidden;
    > img {
      top: 1350px;
      left: -125px;
      transform: rotate(45deg);
      width: 254px;
    }
  }

  .green-shadow {
    overflow-x: hidden;
    display: none;
  }

  .button-container {
    width: 100%;
    justify-content: center;
    gap: 50px;
  }
}

@media only screen and (max-width: 320px) {
  .button-container {
    gap: 30px;
    > a {
      > button {
        width: 108px;
        font-size: 16px;
      }
    }
  }
}
