<div class="wrapper">
  <section
    *ngFor="let item of portfolio; let odd = odd"
    [style.flex-direction]="odd ? 'row-reverse' : 'row'"
    [attr.data-aos]="odd ? 'fade-left' : 'fade-right'"
    add
  >
    <div>
      <img [src]="item.image" alt="" />
    </div>
    <div class="project-text">
      <div class="description">
        <span class="head">{{ item.title }}</span>
        <span class="subtitle"> {{ item.subtitle }}</span>
        <span class="text">{{ item.description | translate }}</span>
        <div class="button-container">
          <a [href]="item.link" target="_blank">
            <button class="first-button">Live test</button>
          </a>
          <a [href]="item.github" target="_blank">
            <button class="second-button">Github</button>
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="purple-shadow">
    <img src="./../../assets/img/portfolioshadowpurple.png" alt="" />
  </div>
  <div class="green-shadow">
    <img src="./../../assets/img/greenshadowportfolioi.png" alt="" />
  </div>
</div>
