@import "./../../styles.scss";

section {
  padding-top: 278px;
  background-color: $darkblue;
  display: flex;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  flex-direction: column;
  gap: 54px;
  margin-left: 100px;
  > div {
    display: flex;
    gap: 211px;
  }
}

.single-icon {
  @include dFlex();
  flex-direction: column;
  > div {
    height: 60px;
    width: 60px;
    > span {
      @include dFlex();
      margin-top: 5.5px;
      text-align: center;
      color: white;
    }
  }
}

.line {
  margin-top: 63px;
  border-top: 8px solid $purple;
  width: 58px;
  margin-left: 50px;
}

.text-container-right {
  display: flex;
  width: 571px;
  > div {
    > h1 {
      color: white;
      font-size: 90px;
      margin-bottom: 34px;
    }
  }
}

.skills-tex-container {
  @include dFlex();
  flex-direction: column;
  > span {
    color: white;
  }
  > button {
    margin-top: 57px;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 58px;
    background-color: $green;
    color: white;
    font-size: 23px;
    border-radius: 10px;
  }
}

.green-shadow {
  > img {
    position: absolute;
    top: 2000px;
    display: inline-block;
    left: -352px;
    transform: rotate(60deg);
  }
}
