@import "./../../../styles.scss";

h1 {
  font-size: 64px;
  color: white;
  margin-block-start: 0;
  margin-block-end: 0;
  text-wrap: nowrap;
}

section {
  background-color: $darkblue;
  position: relative;
  height: 100vh;
}

.atf-shape {
  overflow-x: hidden;
  > img {
    overflow-x: hidden;
    position: absolute;
    top: 268.6px;
    left: -5px;
    width: 100%;
    height: 1335px;
    z-index: 3;
  }
}

.hero-wrapper {
  padding-top: 109px;
  @include dFlex($jc: space-between);
}

.hero-container {
  @include dFlex();
  height: 705px;
  position: relative;
}

.hero-image {
  @include dFlex($jc: flex-start);
  z-index: 2;
  > img {
    @include dFlex();
    position: absolute;
  }
}

.hero-image-shadows {
  @include dFlex();
  > img {
    height: 705px;
  }
}

.hero-text-wrapper {
  position: absolute;
  top: 188px;
  max-width: 718px;
  right: 100px;
  gap: 22px;
  z-index: 5;
  @include dFlex();
  flex-direction: column;
}

.hero-iam {
  color: white;
  transform: rotate(-90deg);
  font-size: 45px;
}

.hero-text-headline {
  @include dFlex();
}

.button-container {
  > a {
    > button {
      margin-top: 44px;
      width: 165px;
      height: 58px;
      border-radius: 10px;
      background-color: $green;
      border: 0;
      color: white;
      cursor: pointer;
      font-size: 23px;
      &:hover {
        transition: all 150ms ease-in-out;
        transform: scale(1.2);
        background-color: $purple;
      }
    }
  }
}

.hero-text-container {
  @include dFlex();
  margin-top: -16px;
  > div {
    flex-direction: column;
    > span {
      text-wrap: nowrap;
      font-size: 55px;
      color: $purple;
      margin-top: -35px;
      text-transform: uppercase;
    }
  }
}

.contact-section {
  margin-top: 92px;
  z-index: 5;
  position: relative;
  @include dFlex($jc: flex-start);
  overflow-x: hidden;
}

.line {
  background-color: $purple;
  height: 4px;
  width: 100px;
}

.icon-contact-container {
  margin-left: 42px;
  @include dFlex();
  gap: 42px;
  > div {
    > a {
      > svg {
        @include dFlex();
        cursor: pointer;
        &:hover {
          transition: all 150ms ease-in-out;
          transform: scale(1.5);
        }
      }
    }
  }
}

.mail-contact {
  @include dFlex();
  margin-left: 42px;
  font-size: 23px;
  > a {
    text-decoration: none;
    color: white;
  }
}

.scroll-down {
  @include dFlex($jc: flex-end);
  margin-right: 100px;
  z-index: 5;
  position: absolute;
  right: 0;
  top: 829px;
  animation: bounce 2.5s ease-in-out infinite;
  z-index: 10;
  > span {
    color: white;
    font-size: 23px;
    text-decoration: none;
    transform: rotate(90deg);
    > svg {
      transform: rotate(269deg);
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-40px);
  }
}

@media only screen and (max-width: 1160px) {
  .hero-wrapper {
    justify-content: center;
    flex-direction: column;
    padding-top: 25px;
  }

  .hero-text-wrapper {
    position: unset;
    gap: 0;
  }

  .hero-text-container {
    margin-top: 5px;
    margin-right: 29px;
    margin-left: 3px;
    > div {
      > span {
        font-size: 50px;
        margin-top: -31px;
      }
    }
  }

  .hero-image-shadows {
    > img {
      width: 100%;
      height: 589px;
    }
  }

  .atf-shape {
    overflow-x: hidden;
    top: 428.6px;
    left: -5px;
    width: 100%;
  }

  h1 {
    font-size: 60px;
  }
  .hero-iam {
    font-size: 42px;
    margin-right: -10px;
  }

  .hero-image {
    justify-content: center;
    max-width: 581px;
    > img {
      width: 410px;
    }
  }

  .hero-container {
    max-height: 448px;
  }

  .atf-shape {
    > img {
      top: 373.6px;
      left: 0px;
      width: 100%;
      height: 265px;
      z-index: 3;
    }
  }

  .button-container {
    > a {
      > button {
        margin-top: 24px;
        width: 133px;
        height: 49px;
        font-size: 16px;
      }
    }
  }

  .contact-section {
    margin-top: 35px;
  }

  .icon-contact-container {
    margin-left: 52px;
  }

  .line {
    width: 64px;
  }

  .mail-contact {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 36px;
  }
  .hero-iam {
    font-size: 26px;
    margin-right: -10px;
  }

  .hero-text-container {
    > div {
      > span {
        font-size: 31px;
        margin-top: -18px;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .hero-image {
    > img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1 / 1;
    }
  }

  .scroll-down {
    display: none;
  }

  h1 {
    font-size: 30px;
  }
  .hero-iam {
    font-size: 20px;
  }

  .hero-text-container {
    > div {
      > span {
        font-size: 26px;
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .icon-contact-container {
    margin-left: 15px;
  }

  .hero-text-container {
    margin-top: 0;
  }

  h1 {
    font-size: 25px;
  }
  .hero-iam {
    font-size: 17px;
    margin-right: -5px;
  }

  .hero-text-container {
    > div {
      > span {
        font-size: 22px;
        margin-top: -14px;
      }
    }
  }

  .atf-shape {
    > img {
      top: 357.6px;
      left: 0px;
      width: 100%;
      height: 184px;
      z-index: 3;
    }
  }
}
