@import "./../../../styles.scss";

* {
  color: white;
}

h1 {
  font-size: 90px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

section {
  max-width: 1440px;
}

.wrapper {
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 25px;
  }

  h1 {
    font-size: 45px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
  }
}
