<app-navigation></app-navigation>

<h1>{{ "imprint" | translate }}</h1>

<section>
  <br />

  <p>{{ "Information pursuant to" | translate }}: § 5 TMG</p>
  <p>
    Christian Förster <br />
    Holm 15 24937 Flensburg <br />
  </p>
  <br />
  <p>
    <strong>{{ "Represented by" | translate }}:</strong><br />
    Christian Förster<br />
  </p>
  <br />
  <p>
    <strong>{{ "contact" | translate }}:</strong> <br />

    E-Mail:
    <a href="mailto:hello@foerster-dev.de">hello&#64;foerster-dev.de</a>
  </p>
  <br />
  <p>
    <strong>{{ "Responsible" | translate }} § 55 Abs. 2 RStV:</strong><br />
    Christian Förster <br />
    Holm 15<br />
    24937 Flensburg <br />
  </p>
  <p>
    <strong>{{ "Disclaimer" | translate }}: </strong><br /><br /><strong>{{
      "Liability" | translate
    }}</strong
    ><br /><br />
    {{ "imprint_1" | translate }}<br /><br /><strong>{{
      "Liability_mail" | translate
    }}</strong
    ><br /><br />
    {{ "imprint_2" | translate }}<br /><br /><strong>{{
      "Data Protection" | translate
    }}</strong
    ><br /><br />
    {{ "imprint_3" | translate }}<br />
    {{ "imprint_4" | translate }}<br />
    {{ "imprint_5" | translate }}<br />
  </p>
  <br />
</section>
<app-footer></app-footer>
