@import "./../../../styles.scss";

section {
  padding-top: 109px;
  background-color: $darkblue;
  padding-bottom: 116px;
  position: relative;
}

.portfolio-header {
  @include dFlex($jc: flex-end);
  gap: 42px;
}

h1 {
  color: white;
  font-size: 90px;
}

.line-left {
  width: 109px;
  height: 4px;
  background-color: $purple;
}

.line-right {
  width: 484px;
  height: 4px;
  background-color: $purple;
}

.portfolio-header-text {
  @include dFlex();
  color: white;
  font-size: 16px;
}
