@import "./../../../styles.scss";

section {
  position: relative;
  background-color: $darkblue;
  width: 100%;
  height: 100vh;
  @include dFlex($jc: flex-start);
}

.about-me-left-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  z-index: 5;
  gap: 35px;
  padding-left: 100px;
}

.wrapper {
  @include dFlex();
  width: 100%;
  gap: 145px;
}

h1 {
  color: white;
  font-size: 90px;
}

.about-me-left {
  width: 471px;
  > span {
    color: white;
    font-size: 16px;
  }
}

.icon-about-me-text {
  margin-top: 35px;
  display: flex;
  gap: 26px;
  > span {
    color: white;
  }
  > div {
    > svg {
      height: 50px;
      width: 50px;
    }
  }
}

.bulb-icon {
  &:hover {
    transition: all 125ms ease-in-out;
    transform: scale(1.3);
  }
}

.puzzle-icon {
  &:hover {
    transition: all 125ms ease-in-out;
    transform: scale(1.4) translateY(15px);
  }
}

.about-me-right {
  width: 100%;
  z-index: 5;
  overflow-x: hidden;
  @include dFlex($jc: flex-end);
  > div {
    > img {
      width: 453px;
      border-radius: 100%;
      border: 4px solid $green;
    }
  }
}

.picture {
  @include dFlex();
}

.line {
  height: 4px;
  background-color: $green;
  width: 100%;
}

.purple-shadow {
  position: absolute;
  z-index: 3;
  right: 8px;
  top: -52px;

  > img {
    height: 700px;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 45px;
  }

  .about-me-left-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }

  .about-me-left {
    width: 100%;
  }

  .wrapper {
    gap: 0;
  }

  .about-me-right {
    display: none;
  }

  .purple-shadow {
    overflow-x: hidden;
    z-index: 3;
    right: 0px;
    top: -52px;
    width: 185px;
    > img {
      height: 545px;
    }
  }
}
