<nav>
  <div class="logo">
    <a href="#top">
      <img src="./../../../assets/img/foerster.svg" alt="name-logo" />
    </a>
  </div>
  <div class="menu-links" id="menuLinks">
    <div *ngFor="let item of MenuNames; let i = index" class="link-conatiner">
      <a
        [class.clicked]="i === clickedIndex"
        (click)="clickEvent(i)"
        href="{{ item.link }}"
        >{{ item.name | translate }}</a
      >
      <div [class.underline]="i === clickedIndex"></div>
    </div>
  </div>
  <div class="language">
    <img
      (click)="translate.switchLanguage('en')"
      src="/assets/img/icon/english.png"
      alt=""
    />
    <img
      (click)="translate.switchLanguage('de')"
      src="/assets/img/icon/german.png"
      alt=""
    />
  </div>
  <div (click)="openNavigation()" class="mobile-icon d-none">
    <svg
      *ngIf="!mobileIconClicked"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="31"
      viewBox="0 0 32 31"
      fill="none"
    >
      <path
        d="M1 1.5127H31"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        d="M1 15.5127H31"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        d="M1 29.5127H31"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
      />
    </svg>
    <svg
      class="close-icon"
      *ngIf="mobileIconClicked"
      xmlns="http://www.w3.org/2000/svg"
      width="35"
      height="32"
      viewBox="0 0 35 32"
      fill="none"
    >
      <path
        d="M8 4L26.8796 27.3144"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        d="M15 16H20"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        d="M8 27L26.8796 3.68562"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
      />
    </svg>
  </div>
</nav>
<div
  @flyInOut
  *ngIf="mobileIconClicked"
  class="mobile-menu-container"
  id="mobileMenu"
>
  <div class="menu-links-mobile" id="menuLinksMobile">
    <div
      *ngFor="let item of mobileMenuNames; let i = index"
      class="link-conatiner"
    >
      <a
        [class.clicked]="i === clickedIndex"
        (click)="clickEvent(i); closeWithTimeout()"
        href="{{ item.link }}"
        >{{ item.name | translate }}</a
      >
      <div [class.underline]="i === clickedIndex"></div>
    </div>
  </div>
</div>
