@import "./../../../styles.scss";

section {
  @include dFlex();
  position: relative;
  background-color: $darkblue;
  z-index: 5;
  height: 100vh;
  width: 100%;
}

.wrapper {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  z-index: 99;
  padding-left: 100px;
  max-width: 721px;
  flex-direction: column;
  gap: 54px;
  > div {
    display: flex;
    gap: 123px;
  }
}

.single-icon {
  @include dFlex();
  flex-direction: column;
  > svg {
    z-index: 99;
    &:hover {
      transition: all 150ms ease-in-out;
      transform: translateY(-10px);
    }
  }
  > div {
    height: 60px;
    width: 60px;
    > span {
      @include dFlex();
      margin-top: 5.5px;
      text-align: center;
      color: white;
    }
  }
}

.line {
  height: 4px;
  background-color: $purple;
  width: 58px;
  margin-left: 40px;
}

h1 {
  color: white;
  font-size: 90px;
  margin-block-start: 0;
  margin-block-end: 0;
  text-wrap: nowrap;
}

.text-container-right {
  display: flex;
  max-width: 571px;
  flex-direction: column;
  align-items: center;
  > a {
    > button {
      margin-top: 57px;
      cursor: pointer;
      border: none;
      width: 200px;
      height: 58px;
      background-color: $green;
      color: white;
      font-size: 23px;
      border-radius: 10px;
      &:hover {
        background-color: $purple;
        transition: all 150ms ease-in-out;
        transform: scale(1.3);
      }
    }
  }
}
.headline {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.text {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  > span {
    color: white;
  }
}

.skills-tex-container {
  @include dFlex();
  flex-direction: column;
  > span {
    color: white;
  }
}

.green-shadow {
  > img {
    position: absolute;
    top: 435px;
    display: inline-block;
    left: -301px;
    transform: rotate(216deg);
    z-index: 5;
  }
}

@media screen and (max-width: 1433px) {
}
