@import "./../../../styles.scss";

section {
  @include dFlex();
  background-color: $darkblue;
  border-top: 4px solid $green;
  height: 261px;
}

.imprint-mobile {
  display: none;
}

.footer-left {
  @include dFlex($ai: flex-start);
  margin-left: 100px;
  flex-direction: column;
  > a {
    > img {
      width: 260px;
      object-fit: contain;
    }
  }

  > span {
    > a {
      color: white;
      text-decoration: none;
    }
  }
}

.footer-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  > span {
    color: white;
    font-size: 23px;
  }
}

.underline {
  width: 55.5px;
  border-bottom: 2px solid #1cdae6;
}

.underline-default {
  width: 55.5px;
  border-bottom: 2px solid transparent;
}

.footer-right {
  margin-right: 100px;
  @include dFlex();
}

.footer-right-icons {
  gap: 42px;
  margin-top: 26px;
  margin-right: 0;
  padding-bottom: 23px;
  @include dFlex();
  > div {
    > a {
      > svg {
        &:hover {
          transform: scale(1.5);
          transition: all 150ms ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .footer-right-icons {
    margin-top: 26px;
    margin-right: 0;
    padding-bottom: 23px;
    @include dFlex();
  }

  section {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .footer-left {
    margin-left: 0;
    align-items: center;
    > span {
      display: none;
    }
    > a {
      > img {
        margin-top: 66px;
        margin-bottom: 54px;
      }
    }
  }

  .footer-right {
    @include dFlex();
    flex-direction: column;
    margin-right: 0;
  }

  .imprint-mobile {
    padding-bottom: 73px;
    display: block;
    > a {
      text-decoration: none;
      color: white;
    }
  }
}
